body {
  background-color: #3b4664;
}

#display {
  height: 70px;
  border-radius: 5px;
}

.calculator {
  width: 250px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #e6dcdc;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(37, 45, 68);
  color: rgb(73, 78, 93);
}

.calculator input {
  width: 100%;
  margin-bottom: 10px;
  /* padding: 5px; */
  font-size: 35px;
  text-align: right;
  color: rgb(39, 41, 46);
  background-color: rgb(234, 227, 219);
}

.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  justify-items: center;
}

.calculator .buttons button {
  width: 50px;
  height: 50px;
  font-size: 18px;
  border-radius: 8px;
  background-color: rgb(234, 227, 219);

}

.f-grid button {
  width: 112px;
  height: 50px;
  margin-top: 5px;
  margin: 6px auto;
  border-radius: 8px;
}